.container {
  display: flex;
  flex-direction: column;
  margin: 50px;
}

.multipleSelect {
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
  border-radius: 8px;
  padding: 0 4px;
}

.placeholder {
  margin-left: 10px;
  width: 100%;
}

.icon {
  width: 0;
  height: 0;
  border-left: 7.5px solid transparent;
  border-right: 7.5px solid transparent;
  margin: 10px;
}

.triangleUp {
  border-bottom: 8.5px solid;
}

.triangleDown {
  border-top: 8.5px solid;
}

.dropdown {
  width: 200px;
  position: absolute;
  min-height: 150px;
  margin-top: 4px;
  border-radius: 8px;
  display: flex;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  flex-direction: column;
  padding: 10px 10px;
  gap: 4px;
  overflow: scroll;
  z-index: 99999;
}

.dropdownItem {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 12px;
  width: 100%;
  padding: 6px 8px;
  border-radius: 6px;
}
.dropdownItem:hover {
  background-color: rgb(230, 57, 70);
  color: white;
  transition: 0.3s;
}

.dropdownItem > * {
  cursor: pointer;
}

.label {
  margin-left: 5px;
}

.selectContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.selectContainer > * {
  cursor: pointer;
}
